body
{
  padding:50px;
  font:14px/1.5 Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
  color:#666;
  font-weight:400;
  -webkit-font-smoothing: subpixel-antialiased;
}

h1
{
  font-size: 28px;
  color:#222;
}

h2
{
  font-size: 24px;
  color:#393939
}

h3
{
  font-size: 20px;
}

h3,h4,h5,h6
{
  color:#494949
}

p,ul,ol,table,pre,dl
{
  margin:0 0 20px
}

ul 
{
  padding-left: 30px;
}

a
{
  -webkit-transition: 0.15s;
  -moz-transition: 0.15s;
  -o-transition: 0.15s;
  transition: 0.15s;
}

blockquote
{
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic
}

code,pre
{
  font-family:Monaco,Bitstream Vera Sans Mono,Lucida Console,Terminal;
  color:#333;
  font-size:12px
}

pre
{
  padding:8px 15px;
  background:#f8f8f8;
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x:auto
}

table
{
  width:100%;
  border-collapse:collapse
}

th,td
{
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #e5e5e5
}

dt
{
  color:#444;
  font-weight:600
}

th
{
  color:#444
}

strong
{
  font-weight:600
}

img
{
  max-width:100%
}

header,
nav
{
  width:170px;
  position:fixed;
}

header
{
  height: 60px;
}

nav
{
  min-height: 100px;
  margin-top:80px
}

section
{
  width:600px;
  left: 260px;
  position: relative;
  padding-bottom:50px
}

small
{
  font-size:11px
}

hr
{
  border:0;
  background:#e5e5e5;
  height:1px;
  margin:0 0 20px
}

footer
{
  width:170px;
  float:left;
  position:fixed;
  bottom:50px;
  background: none;
}

.wrapper
{
  width:860px;
  margin:0 auto
}

header .btn span
{
  color: #fff;
  opacity: 0.8;
  font-size: 14px;
}

header .btn strong
{
  display:block;
}

article a:hover
{
  color: #1abc9c;
}

@media print,screen and (max-width: 960px) {
  div.wrapper
  {
    width:auto;
    margin:0
  }
  
  header,section,footer
  {
    float:none;
    position:static;
    width:auto
  }
  
  header
  {
    padding-right:320px;
    border: 0;
  }
  
  section
  {
    border:1px solid #e5e5e5;
    border-width:1px 0;
    padding:20px 0;
    margin:0 0 20px
  }
  
  header a small
  {
    display:inline
  }
  
  nav
  {
    display: none;
  }

  footer ul
  {
    position:absolute;
    right:50px;
    top:52px
  }
}

@media print,screen and (max-width: 720px) {
  body
  {
    word-wrap:break-word
  }
  
  header
  {
    padding:0
  }
  
  footer ul,header p.view
  {
    position:static
  }
  
  pre,code
  {
    word-wrap:normal
  }
}

@media print,screen and (max-width: 480px) {
  body
  {
    padding:15px
  }
  
  footer ul
  {
    display:none
  }
}

@media print {
  body
  {
    padding:.4in;
    font-size:12pt;
    color:#444
  }
}

.nav
{
  *zoom:1;
  margin-bottom:20px;
  margin-left:0;
  list-style:none;
  padding:0
}

.nav li
{
  line-height:20px
}

.nav li a
{
  display:block;
  color: #777;
  text-decoration: none;
  word-break: break-all;
  padding-right:12px;
  padding-left:12px;
  line-height:14px;
  padding-top:8px;
  padding-bottom:8px;
  margin-top:2px;
  margin-bottom:3px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px
}

.nav li:last-child a
{
  margin-bottom:1px
}

.nav li a:hover,
.nav li a:focus
{
  border-color:#eee #eee #ddd
}

.nav li a:hover,
.nav li a:focus
{
  text-decoration:none;
  color: #fff;
  background-color:#1ABC9C;
}

.nav li.active a,
.nav li.active a:hover,
.nav li.active a:focus
{
  color:#fff;
  background-color:#16A085;
}
